page-bussinss {

}
.cards-bg{
background-image: url('../assets/imgs/TOEIC (2).png');
-webkit-background-image: url('../assets/imgs/TOEIC (2).png');
opacity: 0.8;
background-repeat: no-repeat;
background-size:cover;
}
